.form-element {
  margin-top: rem(10);

  label {
    color: $color-grey-200;
    font-size: $font-size14;
  }

  input,
  textarea {
    background: $input-color;
    outline: none;
    border: 1px solid $input-color;
    border-radius: $primary-border-radius;
    padding: $input-padding;
  }

  textarea {
    resize: none;
  }

  .row {
    @include itemCenter();
  }
}

.form-data {
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  width: 30%;

  &-bigger-element {
    width: 45%;
  }

  input#html.checkmark {
    border: 1px solid red;
  }
}

.total-footer {
  justify-content: space-between;
  margin-top: rem(20);
  padding: rem(20);
  background: #f8f8f8;
}

.discountLabel {
  cursor: pointer;
  outline: none;

  &:hover {
    border-bottom: rem(2) solid $primary_blue;
  }
}

input.discountInput{
  padding: rem(11);
  margin-right: rem(10);
}

.discountCheckButton{
  pointer-events: none;
}

.validation-msg{
  color: $borealis_red;
  font-size: 14px;
}
