.c-modal-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: $modal-background;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    border-radius: $primary-border-radius;
    width: rem(600);
    background: $primary-color-white;
    padding: rem(10);

    &__header {
      justify-content: space-between;
      align-items: baseline;
      color: $base-black-color;
    }

    &__footer {
      justify-content: flex-end;
      margin-top: rem(40);

      button {
        margin-right: rem(10);
      }
    }
  }
  .closeButton {
    justify-content: flex-end;
    font-size: rem(24);
    cursor: pointer;
  }
}
